<!DOCTYPE html>
<html>
  <head>
    <title>Intro — Brings your application to new feature introduction and step-by-step users guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= intro_tags %>
    <%= render 'shared/github_corner' %>
  </body>
</html>